[Unit]
Description=TripleA Bot %i
Documentation=

[Service]
WorkingDirectory={{ bot_install_home }}
User={{ bot_user }}
Group={{ bot_user }}
ExecStart=java -server \
  -Xmx{{ bot_max_memory }} \
  -Xss1250K \
  -Djava.awt.headless=true \
  -jar {{ bot_jar }} \
  -Ptriplea.port="40%i" \
  -Ptriplea.name="Bot{{ bot_number }}%i_{{ bot_location_city_name }}" \
  -Ptriplea.lobby.uri="{{ bot_lobby_uri }}" \
  -Ptriplea.map.folder="{{ bot_maps_folder }}"
Restart=always

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bot%i


[Install]
WantedBy=multi-user.target
