#!/bin/bash

# This script will download all maps to a bot server

sudo -u "{{ bot_user }}" mkdir -p "{{ bot_maps_folder }}"
cd "{{ bot_maps_folder }}"
for j in 1 2; do
  while read mapRepo; do
    downloadFile="$(echo $mapRepo | sed 's|.*/||')-master.zip"
    sudo -u "{{ bot_user }}" wget -O "$downloadFile" "https://github.com/$mapRepo/archive/master.zip"
  done < <(curl --silent "https://api.github.com/orgs/triplea-maps/repos?page=$j&per_page=1000" \
          | grep full_name | sed 's/.*: "//' | sed 's/",$//')
done
