.button {
	-fx-background-color: #52602F;
	-fx-color: #000000;
}
.button:hover {
	-fx-background-color: #2B3318;
}
.tab-label, .spinner, .text-field, .combo-box, .exitButton, .label, .radio-button {
	-fx-font-family: "1942 report";
	-fx-font-size: 12px;
}
.tab-label, .text-field {
	-fx-font-size: 14px !important;
}
#title {
	-fx-font-size: 90px;
}
#subtitle {
	-fx-font-size: 17px;
}
#aboutTitle, #exitOverlayQuestion {
	-fx-font-size: 37px;
}