<configuration>
    <appender name="swingMessage" class="org.triplea.debug.Slf4jLogMessageUploader"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/triplea/triplea.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative %d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>triplea-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- each file should be at most 1MB, keep 3 days worth of history, but at most 10MB -->
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>3</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
    </appender>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <root level="debug">
        <appender-ref ref="swingMessage"/>
        <appender-ref ref="console"/>
        <appender-ref ref="FILE" />
    </root>
    <logger name="org.apache.http" level="info"/>
</configuration>
