# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.bat eol=crlf
*.txt eol=crlf
*.ini eol=crlf
*.properties eol=crlf
*.xml eol=crlf
*.html eol=crlf
*.css eol=crlf
*.dtd eol=crlf
*.xslt eol=crlf

# Declare files that will always have LF line endings on checkout.
*.sh eol=lf
*.plist eol=lf
MacOS_users_read_this_first.txt eol=lf
triplea_maps.xml=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpeg binary
*.jpg binary
*.gif binary
*.bmp binary
*.ico binary
*.icns binary
*.pdn binary
*.wav binary
*.mp3 binary
*.zip binary
*.jar binary
*.exe binary
*.nsi binary
*.pdf binary
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary

