.classpath
.gradle
.idea/*
!.idea/runConfigurations
.project
.remote-libs/
.settings
.checkstyle
.DS_Store

*.iml
*.backup
*.swp
*.png
*.gif
*.mp3
*.attach_pid*

bin/
build/
out/

game-app/smoke-testing/src/test/resources/save-games/

game-app/game-headed/triplea-*.log
