# Auto detect text files and perform LF normalization
* text=auto

# Normalise endings to CRLF
*.bat        eol=crlf
*.txt        eol=crlf
*.ini        eol=crlf
*.properties eol=crlf
*.xml        eol=crlf
*.html       eol=crlf
*.css        eol=crlf
*.dtd        eol=crlf

# Avoid doing anythting with these
*.docx binary
*.pdf  binary
*.exe  binary
*.png  binary
*.jpeg binary
*.jpg  binary
*.gif  binary
*.zip  binary
*.docx binary
*.wav  binary
*.mp3  binary
*.jar  binary
*.ico  binary
