# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.bat eol=crlf
*.txt eol=crlf
*.ini eol=crlf
*.properties eol=crlf
*.xml eol=crlf
*.html eol=crlf
*.css eol=crlf
*.dtd eol=crlf

# Declare files that will always have LF line endings on checkout.
MacOS_users_read_this_first.txt eol=lf
*.sh eol=lf

# Denote all files that are truly binary and should not be modified.
*.docx binary
*.pdf binary
*.exe binary
*.png binary
*.jpeg binary
*.jpg binary
*.gif binary
*.zip binary
*.docx binary
*.wav binary
*.mp3 binary
*.jar binary
*.ico binary
*.bmp  binary
*.icns binary
*.nsi  binary
*.pdn  binary
*.xlsx binary