[Unit]
Description=TripleA Java Lobby
Documentation=

[Service]
WorkingDirectory={{ lobby_folder }}
User={{ lobby_user }}
Group={{ lobby_user }}
ExecStart={{ lobby_folder }}/run_server
Restart=always
Environment="PORT={{ lobby_port }}"
Environment="POSTGRES_USER={{ lobby_db_user }}"
Environment="POSTGRES_PASSWORD={{ lobby_db_password }}"
Environment="POSTGRES_HOST={{ lobby_postgres_host }}"
Environment="POSTGRES_PORT={{ lobby_postgres_port }}"
Environment="POSTGRES_DATABASE={{ lobby_db_name }}"

[Install]
WantedBy=multi-user.target
