[Unit]
Description=TripleA Maps Server
Documentation=

[Service]
Environment=DATABASE_PASSWORD={{ maps_db_password }}
Environment=DB_URL={{ maps_server_db_host }}:{{ maps_server_db_port }}/{{ maps_server_db_name }}
Environment=GITHUB_API_KEY={{ maps_server_github_api_key }}
WorkingDirectory={{ maps_server_home_folder }}
User={{ maps_server_user }}
Group={{ maps_server_user }}
ExecStart=java -jar bin/{{ maps_server_jar_file }}
Restart=always

[Install]
WantedBy=multi-user.target
