[Unit]
Description=TripleA Http Server
Documentation=

[Service]
WorkingDirectory={{ http_server_home_folder }}
User={{ http_server_user }}
Group={{ http_server_user }}
ExecStart={{ http_server_run_file }}
Restart=always

[Install]
WantedBy=multi-user.target
