[Unit]
Description={{ lobby_name }}
Documentation=

[Service]
Environment=ERROR_REPORT_TO_GITHUB_ENABLED=true
Environment=MAP_INDEXING_ENABLED=true
Environment=GAME_HOST_CONNECTIVITY_CHECK_ENABLED=true
Environment=USE_FORWARDED_HEADERS=true
Environment=DATABASE_USER={{ lobby_db_user }}
Environment=DATABASE_PASSWORD={{ lobby_db_password }}
Environment=DB_URL={{ lobby_db_host }}:{{ lobby_db_port }}/{{ lobby_db_name }}
Environment=GITHUB_API_TOKEN={{ github_api_token }}
Environment=MAP_INDEXING_PERIOD_MINUTES={{ map_indexing_period_minutes }}
Environment=MAP_INDEXING_DELAY_SECONDS={{ map_indexing_task_delay_seconds }}
Environment=HTTP_PORT={{ lobby_http_port }}

WorkingDirectory={{ lobby_home_folder }}
User={{ lobby_user }}
Group={{ lobby_user }}
ExecStart=java -jar bin/{{ lobby_jar_file }}

StandardOutput=append:/var/log/{{ lobby_name }}.log
StandardError=append:/var/log/{{ lobby_name }}.log

[Install]
WantedBy=multi-user.target
