bot_numbers: ["01", "02", "03", "04" ]
lobby_restart_on_new_deployment: false
lobby_uri: "https://prod.triplea-game.org"

lobby_cert_folder: /etc/letsencrypt/live/{{ inventory_hostname }}
lobby_public_cert_file: "{{ lobby_cert_folder }}/fullchain.pem"
lobby_private_key_file: "{{ lobby_cert_folder }}/privkey.pem"

nginx_generate_dhparam: true
nginx_generate_self_signed_cert: false

lobby_db_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  64336166636636343330663935383339363337313233333664333134346237306364386430633437
  3236386138623863353330316436333964366335396439310a313132613436663263363832663834
  39623766333661383435353431353763653431333563333663343563396433343135653134646333
  3132393065333230360a363765346461636364373534373433373730666637636564363364343438
  37353238616531613237363562386263666331316537613538373062363639633565316434373463
  34613939313561363439326231663830613162353066326239373664383262306432636534306135
  32643830353366353762303935363033613262616661313834636237663632636332326130623864
  36613339633764366632326330376633363161373637313039373232643436356232626165666566
  3238

github_api_token: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  65323936623766656635643265383735633030653862386133316139303734636535643838383432
  6530313938633736376438313764316536326632386634650a633363333737353538643031353861
  38663362313632336135623530646663306132383436343038303630313465316236646535303938
  6164623232346230660a393037366339633362346535363265306235326536366663616637383332
  34366634336163366264333430666665333931323139383966373232333562333032333665373964
  6236643330633934373632306366303231303762353537613438
