<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %logger{36} %-5level: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="games.strategy.engine.ClientFileSystemHelper" level="OFF"/>
    <logger name="games.strategy.engine.data.gameparser.XmlGameElementMapper" level="OFF"/>
    <logger name="games.strategy.engine.data.GameSequence" level="OFF"/>
    <logger name="games.strategy.engine.data.GameSequence" level="OFF"/>
    <logger name="games.strategy.triplea.ui.mapdata.MapData" level="OFF"/>
    <logger name="org.triplea.util.LocalizeHtml" level="OFF"/>
</configuration>
