name: Check YAML Formatting
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Validate YAML Formatting
      run: ./gradlew validateYamls

