name: Lobby Build
on:
  push:
    branches:
      - master
    paths:
      - 'spitfire-server/**'
      - 'http-clients/**'
      - 'lib/**'
      - 'build.gradle'
  pull_request:
    paths:
      - 'spitfire-server/**'
      - 'http-clients/**'
      - 'lib/**'
      - 'build.gradle'
jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:10
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        options: >-
            --health-cmd pg_isready
            --health-interval 10s
            --health-timeout 5s
            --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - name: Run Tests
        run: ./spitfire-server/run/check

