# Runs all build checks on any pull request or merges to master
name: Verify
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
#    services:
#      postgres:
#        image: postgres:10
#        env:
#          POSTGRES_USER: postgres
#          POSTGRES_PASSWORD: postgres
#          POSTGRES_DB: postgres
#        ports:
#          - 5432:5432
#        options: >-
#          --health-cmd pg_isready
#          --health-interval 10s
#          --health-timeout 5s
#          --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
      - uses: isbang/compose-action@v1.5.1
        with:
          compose-file: ".docker/docker-compose.yml"
      - name: Run Build Checks
        run: ./verify --exclude-task composeUp

